* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
background-color: rgb(49, 42, 42);
}

.white {
  background-color: rgb(216, 207, 207);
}

.selected {
  background-color: rgb(148, 146, 146);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(172, 131, 85)
}

.availableForMove {
  background-color: rgb(172, 131, 85);
}

.lostFigures {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: #9e9b8b;
}

.lostFigures img{
  height: 20px;
  width: 20px;
}
